
<h3>Shopping Cart</h3>

<ul>
  <div class="item">

      <div class="row">
        <li>Product Name</li>
        <li>Quantity</li>
        <li>Sub Total</li>
      </div>

      <div class="row">

        <li><%=@cartitem.items.name %></li>

        <button>REMOVE</button>
      </div>


  </div>
</ul>


<div class="cartsummary">
  <ul>
    <li>subtotal <% @total %></li>
    <li>shipping: $2.99 <% @total+=2.99 %></li>
    <li>taxes <% @total+=@total*0.05 %></li>
    <li>total <% @total %></li>
  </ul>
  <% link_to "Checkout",  new_cart_path%>
</div>

