

.top {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  font-family: $my-font;
  padding: 50px;
  color: $med;
}

.middle {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  p {
    font-family: $my-font;
    font-size: 18px;
    color: white;
  }
}

.bottom {

  h4 {
    font-family: $my-font;
    padding: 42px;
    text-align: center;
  }
}

.home-btn {
  cursor: pointer;
  padding: 8px;
  width: 136px;
  background-color: $mokey;
  border-radius: 4px;
  margin: 20px;
  text-align: center;

  p {
    font-family: $my-font;
    font-size: 18px;
    color: white;
  }

  // border: 1px solid $mokey;
}

.back-home {
  color: $light;
}
