

.about {
  height: 300vh;
  display: flex;
}

.about-title {
  width: 70%;
  height: 100vh;
  // display: flex;
  // justify-content: center;
  // align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  font-size: 20px;
  overflow: hidden;
  // margin: 0 !important;

  img {
    width: 50%;
  }

}

.about-pages {
  width: 50%;

  div {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    color: white;

  p {
    width: 80%;
    font-size: 18px;
    line-height: 30px;
    color: white;

    .ingredient {
    font-size: 30px;
    }
}
}
}

.text1 {
  background: $light;

  .cart-btn {
    cursor: pointer;
    padding: 5px 5px;
    // &:hover {
    //   // padding: 5px 20px;
    //   background-color: $med;
    //   color: $light;
    //   border-radius: 4px;
    // }
  }
}

.text2 {
  background: $med;
}

.text3 {
  background: #F3B54A;
}

.video {
  width: 100%;
  height: auto;
}



// .container-recipe {
//   height: 300vh;
//   display: flex;

//   .imagetitle {
//     width: 50%;
//     height: 100vh;
//     display: flex;
//     justify-content: center;
//     align-items: center;
//     font-size: 30px;
//     margin: 0 !important;
//   }
// }

// .recipe-pages {
//   width: 50%;

//   div {
//     height: 100vh;
//     display: flex;
//     flex-direction: column;
//     justify-content: space-around;
//     align-items: center;
//     color: white;

//   p {
//     width: 80%;
//     font-size: 18px;
//     line-height: 30px;
//    }
//   }
// }
