.about {
  // height: 300vh;
  display: flex;
}

.about-title {
  width: 70%;
  height: 100vh;
  // display: flex;
  // justify-content: center;
  // align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  font-size: 20px;
  overflow: hidden;
  cursor: pointer;
  // margin: 0 !important;
  video {
    width: 200%;
  }
}

.about-pages {
  width: 50%;

  .recipe-page-title {
    padding: 16px 28px;
    font-family: $my-font;
  }

  .ingredient-name-container {
    padding: 18px 28px;
  }

  .ingredient-container {
    display: block;
    padding: 8px;

    .ingredient-image {
      height: 100%;
      width: 100%;
      object-fit: contain;
      // max-height: 100%;
      // max-width: 100%;
      // border-radius: 50%;
      // border: 5px solid;
    }
  }

  .show-btn {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding-top: 20px;

    .recipes-btn {
      background-color: $light;
      color: $med;
      text-align: center;
      font-family: $my-font;
      justify-content: center;
      font-size: 16px;
      border-radius: 4px;
      padding: 5px;
      margin: 0 20px;
      width: 50%;
    }

    .cart-btn {
      background: $med;
      color: white;
      border-radius: 4px;
      padding: 5px;
      margin: 0 20px;
      width: 50%;
    }
  }

  .prep {
    padding: 44px 0 16px;
  }

  .checkout {
    cursor: pointer;
    padding: 5px 95px;
    color: white;
    background-color: $mokey;
    border-radius: 4px;
    font-size: 16px;
    font-family: $my-font;
    width: 394px;
    justify-content: space-between;
    align-items: center;
  }

  .check {
    margin-top: 30px;
    text-align: center;
    font-family: $my-font;
    justify-content: space-between;
    align-items: center;
    // display: flex;
    // align-items: center;
  }

  .directions {
    padding-left: 28px;

    li {
      padding-bottom: 4px;
    }
  }
  // insert css from https://codepen.io/kskhr/pen/pRwKjg
  /*image gallery*/
  .image-checkbox {
    cursor: pointer;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    border: 4px solid transparent;
    margin-bottom: 3px;
    outline: 0;
    height: 100px;
    width: 100px;
    // display: flex;
    justify-content: center;
    align-items: center;
    vertical-align: middle;
  }

  .image-checkbox input[type="checkbox"] {
    display: none;
  }

  .image-checkbox-checked {
    border-color: #f8c25e;
  }
  // .image-checkbox .fa {
  //   position: absolute;
  //   color: #4A79A3;
  //   background-color: #fff;
  //   padding: 10px;
  //   top: 0;
  //   right: 0;
  // }
  // .image-checkbox-checked .fa {
  //   display: block !important;
  // }

  .item-ingredient {
    li {
      padding-bottom: 4px;
    }
  }

  hr {
    border-top: 1px solid $mokey;
    width: 75%;
    margin: 0 auto;
  }

  div {
    // height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    // align-items: center;
    color: darkslategray;

    p {
      width: 80%;
      font-size: 18px;
      line-height: 30px;
      color: white;

      .ingredient {
        font-size: 30px;
      }
    }
  }
}

.text1 {
  background: white;

  .cart-btn {
    cursor: pointer;
    padding: 5px;
    // &:hover {
    //   // padding: 5px 20px;
    //   background-color: $med;
    //   color: $light;
    //   border-radius: 4px;
    // }
  }
}

.text2 {
  background: white;
}

.text3 {
  background: #F3B54A;
}

.video {
  width: 100%;
  height: auto;
}

#recipes-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  // float: right;
  a {
    padding: 5px 20px;
    border-radius: 4px;
    font-family: $my-font;
    font-weight: bolder;
    color: white;
    font-size: 30px;
    background-color: $mokey;

    &:hover {
      padding: 5px 20px;
      background: $med;
      color: $light;
      border-radius: 4px;
    }
  }
}

.zoom {
  position: absolute;
  top: 30px;
  right: 50%;
  width: 40px;
  opacity: 0;
  z-index: 1000000000000;
  animation: zoom 1s ease forwards;
}
@keyframes zoom {
  0% {
    opacity: 0;
  }

  50% {
    opacity: 1;
  }

  100% {
    opacity: 0;
    right: 40px;
  }
}
