.containersignup {
  display:flex;
  // height: 80vh;
  flex-direction: column;
  align-items: center;
  font-family: $my-font;

}

.sign-up {
  width: 400px;
  background: white;
  padding: 40px;
}

#title {
  text-align: center;
}

