<div class="container-recipe">

  <div class="imagetitle">
    <% @recipe.name %>
    <% @recipe.image %>
  </div>

  <div class="recipe-pages">
    <div class="detail">
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quisquam hic consequatur atque, nihil repudiandae laboriosam omnis at doloremque nulla tenetur eius. Nulla quas doloribus atque illo ex distinctio explicabo ipsa.</p>
    </div>

    <div class="preparation">
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quisquam hic consequatur atque, nihil repudiandae laboriosam omnis at doloremque nulla tenetur eius. Nulla quas doloribus atque illo ex distinctio explicabo ipsa.</p>
    </div>
  </div>

  <div class="trending">
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quisquam hic consequatur atque, nihil repudiandae laboriosam omnis at doloremque nulla tenetur eius. Nulla quas doloribus atque illo ex distinctio explicabo ipsa.</p>
  </div>

</div>


<script src="https://cdnjs.cloudflare.com/ajax/libs/ScrollMagic/2.0.7/ScrollMagic.js"></script>

<script src="./show.js"></script>
