<button class='btn btn-primary btn-lg' id="button">Sign In</button>
<div id="modal" style="display:none">
  <div id="background" style="border:1px solid black; width:300px; height:300px;">
    <div id="display" style="border:1px solid black; width:200px; height:200px;" >
      <%= render "devise/sessions/new"%>
    </div>
  </div>
</div>
<%= form_tag(search_path, class: "searchform") do %>
  <%= text_field_tag :search, "Search", class: "search" %>
  <button type="submit" class="btn btn-primary">
    <i class="fa fa-search"></i>
  </button>
<% end %>

<script>

</script>
