
<div class="containall">
  <div class="innercontainer">
    <div class="top">
      <h2>Thank you for your purchase!</h2>
      <%= link_to image_tag("logo/monkey.png"), root_path, class: "nav-logo" %>
      <!-- <img src="images/mokey.png"> -->
    </div>

    <div class="middle">
      <p> Order number: <%=@confirmation %></p>
      <p>You will receive an email confirmation shortly at <%=@user.email %></p>
      <p class="home-btn">
        <%= link_to "Back to Home", root_path, class: "back-home"%>
      </p>

    </div>

    <div class="bottom">
      <h4>Your order is on the way.</h4>
    </div>
  </div>
</div>
