.navbar-lewagon {
  justify-content: space-between;
  background: white;
  font-family: 'Raleway', sans-serif;
  // border-bottom: 1px solid $med;
  padding-left: 30px;
  padding-right: 30px;
  top: 0;
  z-index: 10;
  position: fixed;
  width: 100%;
  background: transparent;
}

.searchform {
  #search-bar {
    display: inline-block;
  }

  .fa-search {
    color: white;
  }
}

.navbar-lewagon .nav-link {
  color: #434343;
}

.navbar-lewagon {
  color: #FF5E68;
  font-weight: bold;
}

.nav-logo{
  height: 45px;
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 40px;
}

#login-btn {
  cursor: pointer;
  padding: 5px 20px;
  color: white;

  &:hover {
    // padding: 5px 20px;
    background-color: $med;
    color: $light;
    border-radius: 4px;
  }
}

.nav-logo {
  font-size: 24px;
}


.item{
  font-size:20px;
  align: right;
  margin: 0px;
}
