.navbar-lewagon {
  justify-content: space-between;
  background: white;
  font-family: 'Raleway', sans-serif;
  // border-bottom: 1px solid $med;
  padding-left: 30px;
  padding-right: 30px;
  top: 0;
  z-index: 2000;
  position: fixed;
  width: 100%;
  background: rgba(251, 205, 119,1);
}

.searchform {
  #search-bar {
    display: inline-block;
    font-size: 20px;
  }

  .fa-search {
    color: white;
  }

  .form-control{
    background: transparent;
    border: transparent;
  }
  ::placeholder{
    color: white;
    border-bottom: 2px solid rgba(250,250,250,0.8);
    font-size: 20px;
  }

}

.navbar-lewagon .nav-link {
  color: #434343;
}

.navbar-lewagon {
  color: #FF5E68;
  font-weight: bold;
}

.nav-logo img{
  height: 60px;
  padding-right: 80%;
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 40px;
}

#login-btn {
  cursor: pointer;
  padding: 5px 20px;
  color: white;

  &:hover {
    // padding: 5px 20px;
    background-color: $med;
    color: $light;
    border-radius: 4px;
  }
}
