.navbar-lewagon {
  justify-content: space-between;
  background: white;
  font-family: 'Raleway', sans-serif;
  // border-bottom: 1px solid $med;
  padding-left: 30px;
  padding-right: 30px;
  top: 0;
  z-index: 2000;
  // position: fixed;
  width: 100%;
  background: rgba(251, 205, 119,1);
}

.avatar {
  width: 56px;
  border-radius: 50%;
}

.searchform {
  display: inline-flex;

  #search-bar {
    font-size: 20px;
  }

  .fa-search {
    display: inline-block;
    color: white;
    font-size: 23px;
    padding-top: 25px;
  }

  .form-control {
    background: transparent;
    border: transparent;
    margin-left: 0px;
  }

  ::placeholder {
    color: white;
    border-bottom: 2px solid rgba(250,250,250,0.8);
    font-size: 20px;
  }
}

.navbar-lewagon .nav-link {
  color: #434343;
}

.navbar-lewagon {
  color: #FF5E68;
  font-weight: bold;
}

.nav-logo img {
  height: 60px;
  padding-right: 80%;

}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 40px;
}

#login-btn {
  cursor: pointer;
  padding: 5px 20px;
  color: white;

  &:hover {
    // padding: 5px 20px;
    background-color: $med;
    color: $light;
    border-radius: 4px;
  }
}

.nav-logo {
  font-size: 24px;
}

.item {
  font-size: 20px;
  align: right;
  margin: 0;
}
// Shopping cart insert css from https://codepen.io/hughker/pen/PzZOQP

.shopping-cart {
  position:relative;
  .fa-shopping-cart {
    font-size: 34px;
  }

  .badge:empty {
    display: flex;
  }

  *.icon-blue {
    color: #0088cc;
  }

  *.icon-white {
    color: white;
  }

  i {
    width: 100px;
    text-align: center;
    vertical-align: middle;
    position: relative;
  }

//   .badge:after {
//     content: attr(data-count);
//     position: absolute;
//     background: #ff5e61;
//     height: 1.5rem;
//     top: 0;
//     right: 2.5rem;
//     width: 1.5rem;
//     text-align: center;
//     line-height: 1.5rem;
//     font-size: 1.1rem;
//     border-radius: 50%;
//     color: white;
//     /* border: 1px solid #ff6600; */
//     font-family: sans-serif;
//     font-weight: bold;
//   }
}
.my-badge {
  right: 29px;
  top: 0px;
  z-index: 1;
  position: absolute;
  width: 20px;
  height: 20px;
  background-color: red;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  color: white;
  font-family: Raleway;
  padding-bottom: 3px;
}
