.recipe-video-container {
  display: flex;
  overflow: hidden;
  justify-content: center;
  height: 20rem;

  img {
    opacity: 1;
    transition: opacity 1.5s ease-in-out;
    object-fit: cover;
  }

  #recipe-video {
    // min-width: 100%; // position: absolute;
    width: 0;
    opacity: 0;
    transition: opacity 1.5s ease-in-out;
  }

  &:hover {
    img {
      opacity: 0;
      width: 0;
    }

    #recipe-video {
      display: flex;
      opacity: 1;
      width: 250%;
    }
  }
}
