.recipe-video-container {
  display: flex;
  overflow: hidden;
  justify-content: center;
  height: 20rem;

  img{
    object-fit: cover;
  }

  #recipe-video {
    // min-width: 100%; // position: absolute;
    width: 250%;
    display: none;
  }

  &:hover {
    img{
      display: none;
    }

    #recipe-video{
      display: flex;
    }
  }
}
